body{
	background-color: black;
	color:white;
	position:relative;
	left:30%;

}

.player_1_ready_div, .player_2_ready_div{
	/*background-color: blue;*/
	width:160px;
	height:50px;
	font-weight: bold;
}

.player_1_ready_div{
	position: absolute;
	top:240px;
	left:3px;
}

.player_2_ready_div{
	position: absolute;
	top:240px;
	right:5px;
}

.header_div{	
	padding:1px;
	position: absolute;
	top:0;
	left:-5px;
	z-index: 1;
}

.start_div{
	position: absolute;
	top:150px;
	left:75px;
}

.game_display_div{
	position:absolute;
	top:310px;
	left:0;
	background-color: white;
	width:500px;
	height:300px;
	color:black;
	border:3px blue solid;	
	}

.player_1_div{
	border:2px solid gray;
	position: absolute;
	top:20px;
	left:3px;
	width:130px;
	height:173px;
	padding:14px;
}

.player_2_div{
	border:2px solid gray;
	position: absolute;
	top:20px;
	left:332px;
	width:130px;
	height:173px;
	padding:14px;
}

.result_div{
	border:2px solid gray;
	position: absolute;
	top:20px;
	left:170px;
	width:124px;
	height:174px;
	padding:14px;
}

.winner_div{
	font-size: 20px;
	font-weight: bold;
}
.choice{
	font-weight: bold;
}
.choice:hover{
	color:gray;	
	cursor: pointer;
	font-size:25px;
}

.player_name{
	font-size: 20px;
	font-weight: bold;
}

.message_div{
	position: absolute;
	top:625px;
	left:0;
	background-color: white;
	width:500px;
	height:200px;
	border:solid blue 3px;
}

.message_display_div{
	/*border: dashed 3px gray;*/
	width:450px;
	height:165px;
	color:black;
 	 overflow: auto;
 	 padding:0 15px;
}
.message_input_div{
	position: relative;
	top:6px;
	left:20px;
	width:500px;
}

#message_input{

	width:400px;
}

#user_name{
	width:350px;
	height:45px;
	font-size:30px;
	margin-bottom:5px;
	border: 3px solid blue;
}


#start_button{
	width:355px;
	height:40px;
	border:2px solid blue;
	background-color: white;
}

#start_button:hover{
	background-color: gray;
	cursor:pointer;
}